@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: Roboto, monospace;
    background-color: #fff;
}
/*---------- index.html ----------*/
/*---------- linea y header ----------*/
.linea{
    width: auto;
    height: 10px;
    background-color:#174978;
}

.bg-azul{
    background-color: #064154;;
}

.limenu:hover{
    background-color: white;
    border-radius: 4px;
}

.amenu{
    color: red;
    font-size: x-large;
    color: #fff;
    font-family: roboto monospace;
}
/*---------- seccion 1 ----------*/
#seccion1{
    width: auto;
    height: 350px;
    padding: 0px 80px 0px 80px;
    background-color: #064154;
    border: 1px solid;
    display: flex;
    flex-direction: row;
}

#seccion1 .presentacion{
    width: 500px;
    border: 0px solid;
}

#seccion1 .presentacion h1{
    font-size: 40px;
    color: #fff;
    border: 0px solid;
    padding-top: 20px;
}

 #seccion1 .presentacion p{
    color: #fff;
    font-size: 15px;
    margin-top: -10px;
    border: px solid;
}

#seccion1 .presentacion button{
    width: 120px;
    border: 2px solid;
    border-color: rgb(204,204,204);
}

#seccion1 .presentacion button a{
    text-decoration: none;
}

#seccion1 .imagen img{
    width: 500px;
    float: right;
    margin: 8px 140px 0px 0px;
}

/*---------- seccion 2 ----------*/

#seccion2{
    border: 0px solid;
    padding: 0px 80px 0px 80px;
}

#seccion2 section p{
    padding: 0px 180px 0px 180px;
    line-height: 25px;
}
.linea2{
    width: auto;
    height: 2px;
    margin: 0px 80px 0px 80px;
    background-color: rgb(204,204,204);
}

/*---------- seccion 3 ----------*/

#seccion3{
    border: 0px solid;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0px 80px 0px 80px;
}

#seccion3 .izquierda{
    width: 50%;
    border: 0px solid;
}

#seccion3 .izquierda .mision{
    display: flex;
    flex-direction: row;
    border: 0px solid;
}

#seccion3 .izquierda .mision img{
    width: 110px;
    height: 110px;
}

#seccion3 .izquierda .mision p{
    padding: 0px 10px 20px 10px;
}

#seccion3 .izquierda .valores{
    display: flex;
    flex-direction: row;
    border: 0px solid;
}

#seccion3 .izquierda .valores img{
    width: 110px;
    height: 110px;
}

#seccion3 .izquierda .valores ul{
    border: 0px solid;
    padding-left: 28px;
}

#seccion3 .linea3{
    width: 2px;
    height: auto;
    background-color: rgb(204,204,204);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#seccion3 .derecha{
    width: 50%;
    border: 0px solid;
    padding: 0px 0px 20px 10px;
}

#seccion3 .derecha article a{
    border: 2px solid;
    border-color: rgb(93,81,121);
    border-radius: 4px;
    color:rgb(93,81,121);
    background-color: rgb(233,244,239);
    text-decoration: none;
}

/*---------- seccion 4 ----------*/
#seccion4{
    width: auto;
    height: 250px;
    padding: 0px 80px 0px 80px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35px;
    background-color: #064154;
}

#seccion4 .musimundo{
    width: 170px;
    height: 150px;
}

#seccion4 .walmart{
    width: 170px;
    height: 150px;
}

#seccion4 .sodimac{
    width: 170px;
    height: 150px;
}

#seccion4 .cocacola{
    width: 170px;
    height: 150px;
}

#seccion4 .arcor{
    width: 170px;
    height: 150px;
}

/*---------- footer ----------*/

#footer{
    width: auto;
    height: 50px;
    margin-top: 20px;
    background-image: linear-gradient(#064154, #fff);
}

#footer p{
    color: #fff;
    float: left;
    padding-left: 80px;
}


/*---------- sobrenosotros.html ----------*/

#grilla{
    display: grid;
    grid-template-areas: 
        "seccion11 seccion11 seccion11"
        "seccion22 seccion22 seccion22"
        "seccion33 seccion33 seccion33";
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 500px 500px 500px;
}

.seccion11{
    grid-area: seccion11;
    border: 1px solid;
}

.seccion22{
    grid-area: seccion22;
    border: 1px solid;
}

.seccion33{
    grid-area: seccion33;
    border: 1px solid;
}